body {
	background-color: lavender;
	font-family: "Roboto", sans-serif;
 	font-weight: 400;
  	font-style: normal;
  	padding: 2%;
  	margin: 0;
  	height: 10vh;
  	overflow: hidden;
}

.container {
	margin:2%;
}

#logo {
  	width: 20%;
  	border-bottom: dotted black;
	margin: auto;
  	display: block;
}

.logo-frame {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 800px;
}
